/* @tailwind components;

@layer components {
  .link {
    color: var(--color-blue-500);
    text-decoration: underline;
    font-weight: bold;
  }

  .link:hover {
    color: var(--color-blue-700);
  }
} */
