@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    color: theme("colors.blue.400");
    text-decoration: underline;
    font-weight: bold;
  }
  .link:hover {
    color: theme("colors.blue.600");
  }

  .card {
    @apply bg-white text-black;
  }
  .card .h1,
  .card .h3,
  .card .h5,
  .card .h6,
  .card .font-bold {
    @apply text-lwo-orange;
  }
  .card .h2,
  .card .h4 {
    @apply text-blue-600;
  }

  .card.theme-dark {
    @apply bg-blue-800 text-white;
  }
  .card.theme-dark .h1,
  .card.theme-dark .h3,
  .card.theme-dark .h6,
  .card.theme-dark .font-bold {
    @apply text-lwo-yellow;
  }
  .card.theme-dark .h2,
  .card.theme-dark .h4 {
    @apply text-blue-200;
  }
}
